.scanningBarcode {
  text-align: center;
}

.scanningBarcode--header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
