.accessDatabase {
  text-align: center;
}

.accessDatabase--header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.accessDatabase--title {
  font-size: 1.5em;
  font-weight: bold !important;
  color: black;
  background-color: #fff;
}

.accessDatabase--message {
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  color: black;
}
