.checkTheShoe {
  text-align: center;
}

.checkTheShoe--header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.example {
  width: 220px;
  height: auto;
  box-sizing: border-box;
}
